[general]
outputDir = out-MD
diagnosticsFile = diagnostics.dat
outputTimeInterval = 10
loadState = no
loadFilename = simulation_states/equilibrium/default_lvl6.dat
saveState = yes
saveFilename = simulation_states/hackepeter/default_lvl6.dat

configName = default
useLogScaling = no
useMembrane = yes
refineMembrane = no
mV_output = yes
gammaPot = 1.0
gammaCon = 1.0
# one of {step, squarePulse, trianglePulse, smoothStep}
initConc = default
adaptiveTimeStep = no

tEquilibrium = 25000.0
dtEquilibrium = 10.0

d_memb = 5.
xmax = 50.


# Ion concentrations for the solutions
[solution_in]
# "1" : real concentrations
#Na = 12.
#K  = 155.
#Cl = 167.
#Cl = 167.02651
Na =  12.
K =  125.
Cl = 137.

# "2" : concentrations/100
#Na = 0.12
#K  = 1.55
#Cl = 1.6700

[solution_ex]
# "1" : real concentrations
#Na = 145.
#K  = 4.
#Cl = 149.
Na = 100.
K =  4.
Cl = 104.

# "2" : concentrations/100
#Na = 1.45
#K  = 0.04
#Cl = 1.49

# Channel densities for membrane groups
[membrane.axon]
Nav    = 10.
#Nav   = 6.7857142857142864756
#HH-Na = 120.
#HH-K  =  36.
Kv    =  100.

#[membrane.soma]
#Na-Traub     = 100.
#Ca-Traub     = 1.0
#K(DR)-Traub  = 135.
#K(AHP)-Traub = 0.8
#K(C)-Traub   = 20.
#K(A)-Traub   = 0.5
#HH-K = 10.

#[membrane.apical]
#HH-Na = 0.
#HH-K = 0.

