/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/*/*~
/*/core
/Debug
/am
/aclocal.m4
/am
/config.guess
/config.h.in
/config.sub
/depcomp
/dependencies.m4
/install-sh
/ltmain.sh
/missing
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/autom4te.cache
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/dune-ax1.pc
/libtool
/so_locations
/stamp-h1
/tags

