[general]
outputDir = out-MD
diagnosticsFile = diagnostics.dat
outputTimeInterval = 1
loadState = no
loadFilename = simulation_states/equilibrium/1d/default_lvl6_fem1.dat
saveState = yes
saveFilename = simulation_states/ap/acme1MD.dat

configName = default
localRefine = no
logarithmicGrid = no
useMembrane = yes
refineMembrane = no
mV_output = yes
gammaPot = 1.0
gammaCon = 1.0
# one of {step, squarePulse, trianglePulse, smoothStep}
initConc = default
adaptiveTimeStep = yes

d_memb = 5.
xmax = 50.

[equilibration]
# time parameters; tEquilibration must be a multiple of dtEquilibrium!
tEquilibrium = 20e3
dtEquilibrium = 10

# leak ratios for resting potential generation; sum must be 1!
Na_leak = 0.09
K_leak = 0.91


[stimulation]
stimulation = no
t_inj_start =   1e3
t_inj_end =   1.5e3
I_inj = 0.00001
#I_inj = 0.0


# Ion concentrations for the solutions
[solution_in]
# "1" : real concentrations
#Na = 12.
#K  = 155.
#Cl = 167.
#Cl = 167.02651
Na =  12.
K =  125.
Cl = 137.

# "2" : concentrations/100
#Na = 0.12
#K  = 1.55
#Cl = 1.6700

[solution_ex]
# "1" : real concentrations
#Na = 145.
#K  = 4.
#Cl = 149.
Na = 100.
K =  4.
Cl = 104.

# "2" : concentrations/100
#Na = 1.45
#K  = 0.04
#Cl = 1.49

# Channel densities for membrane groups
[membrane.axon]
leak   = 0.5
Nav    = 120.
Kv    =  36.

#[membrane.soma]
#Na-Traub     = 100.
#Ca-Traub     = 1.0
#K(DR)-Traub  = 135.
#K(AHP)-Traub = 0.8
#K(C)-Traub   = 20.
#K(A)-Traub   = 0.5
#HH-K = 10.

#[membrane.apical]
#HH-Na = 0.
#HH-K = 0.

