[general]
outputDir = out-acme0
diagnosticsFile = diagnostics.dat
outputTimeInterval = 1

configName = default
useLogScaling = no
useMembrane = no
refineMembrane = no
mV_output = yes
gammaPot = 1.0
gammaCon = 1.0
# one of {step, squarePulse, trianglePulse, smoothStep}
initConc = step
adaptiveTimeStep = no

d_memb = 10.
xmax = 50.


# Ion concentrations for the solutions
[solution_in]
# "1" : real concentrations
Na = 0.
K = 100.
Cl = 100.
#Na = 12.
#K  = 155.
#Cl = 167.002

# "2" : concentrations/100
#Na = 0.12
#K  = 1.55
#Cl = 1.6700

[solution_ex]
# "1" : real concentrations
Na = 0../
K = 100.
Cl = 100.
#Na = 145.
#K  = 4.
#Cl = 149.

# "2" : concentrations/100
#Na = 1.45
#K  = 0.04
#Cl = 1.49

# Channel densities for membrane groups
[membrane.axon]
Nav   = 120.
#HH-Na = 120.
#HH-K  =  36.
Kv    =  36.

[membrane.soma]
Na-Traub     = 100.
Ca-Traub     = 1.0
K(DR)-Traub  = 135.
K(AHP)-Traub = 0.8
K(C)-Traub   = 20.
K(A)-Traub   = 0.5
#HH-K = 10.

[membrane.apical]
HH-Na = 0.
HH-K = 0.

