[general]
outputDir = out-acme2_cyl_par_generate_mori_implicit_dx10e3
vtkOutput = no
vtkSubSamplingLevel = 0
gnuplotOutput = yes
fullGnuplotOutput = no
hdf5Output = yes
fullHdf5Output = yes
oneTimeGridfunctionOutput = yes
diagnosticsFile = diagnostics.dat
outputTimeInterval = 0.0
# This flag simply loads a state
loadState = yes
doExtrapolateXData = yes
#loadGridFileName = simulation_states/hackepeter/acme2_cyl_par_test_EQUILIBRIUM.dgf
loadGridFileName = simulation_states/equilibrium/cyl/yasp_square10mm.dgf
# This flag tells to continue the history of the last simulation, i.e. existing 
# data files in the output dir are not cleared, new data is simply appended; 
# if false previous history is 'forgotten'
continueSimulation = no
loadFilename = simulation_states/equilibrium/cyl/yasp_square10mm.dat
saveState = yes
saveFilename = simulation_states/hackepeter/acme2_cyl_par_generate_mori_implicit_dx10e3.dat
doCheckpointing = yes
checkpointInterval = 10
createGridFile = yes
saveGridFileName = acme2_cyl_par_generate_mori_implicit_dx10e3_equilibrium.dgf
loadChannelStates = no

rootOutputNode = 0
outputRootNodeOnly = yes
printMatrix = no
printRhs = no
printResidual = no
useRowNormPreconditioner = no

configName = default
refineXDirection = no
refineYDirection = yes
refineYDirectionGeometrically = yes
doAdditionalGlobalRefine = no
# radial cylinder refinement compensates for increasing volumes in y-direction
useRadialCylinderRefinement = no
# Start coordinate of radial refinement
radialCylinderRefinementStart = 15.0e3
# Shall there be an interval of smooth geometric refinement between membrane and
# the beginning of the radial cylinder refinement (radialCylinderRefinementStart)?
transitionIntervalGeometricRefinement = yes
# If not, use nElementsTransitionInterval equidistant elements instead
nElementsTransitionInterval = 20;
# Desired max. ratio between two extracellular cell volumes
max_volume_ratio = 1.e3
# Max. number of points to use in radialCylinderRefinement
max_radial_points = 100
useMembrane = yes
numberMembranes = 1
refineMembrane = no
mV_output = yes
gammaPot = 1.0
gammaCon = 1.0
# one of {step, squarePulse, trianglePulse, smoothStep}
#initConc = default
adaptiveTimeStep = yes
maxTimeStep = 10e-6 # 10µs
maxTimeStepAP = 1e-6 # 1µs
#timeStepFile = simulation_states/load_mori/timesteps.dat
#timeStepEvery = 10
timeStepLowerLimitNewtonIt = 10
timeStepUpperLimitNewtonIt = 30
newtonReduction = 1e-5
newtonAbsLimit = 1e-5
maxNumberNewtonRestarts = 3
newtonMaxIt = 30
newtonMinLinReduction = 1e-5
maxNumberNewtonRestarts = 0
linearSolverMaxIt = 500
disableLineSearch = no
doReorderMatrix = no
# Volume scaling assigns a scaling factor to each DOF, compensating for increasing
# cell volumes algebraically. This is used as a replacement for radial refinement!
doVolumeScaling = yes
#volumeScalingYThreshold = -1
#potentialResidualScalingFactor = 1e6

cellWidth = 500.
y_memb = 500.
d_memb = 5.
xmax = 10.e6
ymax = 10.e6
ymin = 0.

#dx = 10.e6
dx = 10.e3
# dy only takes effect when logarithmic grid is chosen, otherwise dx is determined by the level
dy = 100.e3
dy_min = 0.5
n_dy_min = 10
dy_cell = 100.
#dy_cell_min = 100.
#n_dy_cell_min = 0

closedCell = yes

# Initialize channels to the current membrane potential
automaticChannelInitialization = yes
# Value to use if no automatic initialization is desired
channelRestingPotential = -65.

useMoriChargeLayerContribution = no
useMoriCorrection = no
forceMoriFluxCalculation = yes
#removeDebyeLayerVertices = yes
#minimalMembraneDistance = 709
#fillRemovedRange = yes
#arbitraryPotScalingFactor = 5.e4

# This factor scales the membrane flux. Only used for speedup of equilibration phase!
dummy_value = 10
useElecOperatorJacobianVolume = yes
useMembOperatorJacobianVolume = yes
useTimeOperatorJacobianVolume = yes

[boundary]
fullyImplicitMembraneFlux = yes
writeBoundaryOutput = yes
debyeLayerWidth = 100.
#debyeLayerWidth = 0.

# This flag controls the interpolation of Dirichlet values in each time step
useTimeDependentBoundaryValuesCon = no
useTimeDependentBoundaryValuesPot = no
loadBoundary = membrane
membraneOneSided = no
collapseToLineSource = no
originalRadius = 505.
boundaryConLoadFilename = simulation_states/load_mori/converted_memb_flux_na.dat simulation_states/load_mori/converted_memb_flux_k.dat simulation_states/load_mori/converted_memb_flux_cl.dat
#boundaryPotLoadFilename = simulation_states/load_laplace/total_flux_dx10e3.dat

[boundary.concentration]
# Important: Use row-norm preconditioner when using Dirichlet constraints on side boundaries, otherwise the 4x4 block matrices will be (close to) singular in ILU decomposition!
membrane = Neumann
top = Dirichlet
bottom = Neumann
leftCytosol = Neumann
rightCytosol = Neumann
leftExtracellular = Neumann
rightExtracellular = Neumann
#leftExtracellular = Dirichlet
#rightExtracellular = Dirichlet

[boundary.potential]
#membrane = Neumann
top = Dirichlet
bottom = Neumann
leftCytosol = Neumann
rightCytosol = Neumann
leftExtracellular = Neumann
rightExtracellular = Neumann

[equilibration]
doEquilibration = no
# This forces the equilibration calculation, even with more than one element in x-direction
forceEquilibration = no
# time parameters; tEquilibration must be a multiple of dtEquilibrium!
tEquilibrium = 1000.0
dtEquilibrium = 10.0

# leak ratios for resting potential generation; sum must be 1!
#Na_leak = 0.09
#K_leak = 0.91
Na_leak = 0.13
K_leak = 0.87

[stimulation]
stimulation = yes
memb_flux_stimulation = yes
position_x = 150.e3
#position_x = 5.05e6
position_y = 0.
t_inj_start = 10.0
t_inj_end = 2.0e3
#I_inj = 1.1e13
I_inj = 0.0
memb_flux_ion = Cl
# A positive value means flow of the respective ion in positive y-direction (from CY to ES),
# i.e. a depolarizing current for Cl- and a hyperpolarizing current for Na+/K+
# Units should match flux units (TS/LS) mol/(m^2 s)... ???
memb_flux_inj = 2e7


# Ion concentrations for the solutions
[solution_in]
# "1" : real concentrations
#Na = 12.
#K  = 155.
#Cl = 167.
#Cl = 167.02651
Na =  12.
K =  125.
Cl = 137.
# use this value to get about -65mV membrane potential, even without Debye layer concentration profile
#Cl = 137.0096 
pot = -65.

[solution_ex]
# "1" : real concentrations
#Na = 145.
#K  = 4.
#Cl = 149.
Na = 100.
K =  4.
Cl = 104.
pot = 0

# Channel densities for membrane groups
[membrane]
isActive = yes

[membrane.axon]
# Units for the conductances are [mS/cm^2]
leak   = 0.5
Nav    = 120.
Kv    =  36.

#[membrane.soma]
#Na-Traub     = 100.
#Ca-Traub     = 1.0
#K(DR)-Traub  = 135.
#K(AHP)-Traub = 0.8
#K(C)-Traub   = 20.
#K(A)-Traub   = 0.5
#HH-K = 10.

#[membrane.apical]
#HH-Na = 0.
#HH-K = 0.

