[general]
outputDir = /home/jpods/local_data/cyl_par_square10mm_np10
vtkOutput = no
vtkSubSamplingLevel = 0
fullGnuplotOutput = no
hdf5Output = yes
diagnosticsFile = diagnostics.dat
outputTimeInterval = 1.0
# This flag simply loads a state
loadState = yes
doExtrapolateXData = yes
loadGridFileName = simulation_states/equilibrium/cyl/yasp_square10mm.dgf
# This flag tells to continue the history of the last simulation, i.e. existing data files in the output dir
# are not cleared, new data is simply appended; is false previous history is 'forgotten'
continueSimulation = no
loadFilename = simulation_states/equilibrium/cyl/yasp_square10mm.dat
saveState = yes
saveFilename = simulation_states/ap/acme2_cyl_par_square10mm.dat
doCheckpointing = yes
checkpointInterval = 100.0
createGridFile = yes
saveGridFileName = acme2_cyl_par_fiona_square10mm.dgf
loadChannelStates = no

outputRootNodeOnly = yes
printMatrix = no
printRhs = no
useRowNormPreconditioner = no

configName = default
refineXDirection = no
refineYDirectionGeometrically = yes
# radial cylinder refinement compensates for increasing volumes in y-direction
useRadialCylinderRefinement = no
# Start coordinate of radial refinement
radialCylinderRefinementStart = 15.0e3
# Shall there be an interval of smooth geometric refinement between membrane and
# the beginning of the radial cylinder refinement (radialCylinderRefinementStart)?
transitionIntervalGeometricRefinement = yes
# If not, use nElementsTransitionInterval equidistant elements instead
nElementsTransitionInterval = 20;
# Desired max. ratio between two extracellular cell volumes
max_volume_ratio = 1.e3
# Max. number of points to use in radialCylinderRefinement
max_radial_points = 100
useMembrane = yes
numberMembranes = 1
refineMembrane = no
mV_output = yes
gammaPot = 1.0
gammaCon = 1.0
# one of {step, squarePulse, trianglePulse, smoothStep}
#initConc = default
adaptiveTimeStep = yes
timeStepLowerLimitNewtonIt = 10
timeStepUpperLimitNewtonIt = 30
newtonReduction = 1e-5
newtonAbsLimit = 1e-5
maxNumberNewtonRestarts = 3
doReorderMatrix = no
doVolumeScaling = yes

cellWidth = 500.
y_memb = 500.
d_memb = 5.
xmax = 10.0e6
ymax = 10.0e6

#dx = 10.0e6
dx = 100.0e3
# dy only takes effect when geometric grid is chosen, otherwise dy is determined by the level
dy = 100.e3
dy_cell = 100.
dy_min = 0.5

closedCell = yes

automaticChannelInitialization = yes
channelRestingPotential = -65.

# This factor scales the membrane flux. Only used for speedup of equilibration phase!
dummy_value = 10

[boundary]
[boundary.concentration]
top = Dirichlet
bottom = Neumann
leftCytosol = Neumann
rightCytosol = Neumann
leftExtracellular = Neumann
rightExtracellular = Neumann
# new (experimental) BC!
#leftExtracellular = Dirichlet
#rightExtracellular = Dirichlet

[boundary.potential]
top = Dirichlet
bottom = Neumann
leftCytosol = Neumann
rightCytosol = Neumann
leftExtracellular = Neumann
rightExtracellular = Neumann

[equilibration]
doEquilibration = no
forceEquilibration = no
# time parameters; tEquilibration must be a multiple of dtEquilibrium!
tEquilibrium = 1000.0
dtEquilibrium = 10.0

# leak ratios for resting potential generation; sum must be 1!
#Na_leak = 0.09
#K_leak = 0.91
Na_leak = 0.13
K_leak = 0.87

[stimulation]
stimulation = yes
position_x = 150.0e3
position_y = 0.
t_inj_start = 20.
t_inj_end =  2.0e3
# multiply by elementary charge e to get the current in Amps
#I_inj = 1.1e11
I_inj = 1.e13


# Ion concentrations for the solutions
[solution_in]
# "1" : real concentrations
#Na = 12.
#K  = 155.
#Cl = 167.
Na =  12.
K =  125.
Cl = 137.

[solution_ex]
# "1" : real concentrations
#Na = 145.
#K  = 4.
#Cl = 149.
Na = 100.
K =  4.
Cl = 104.

# Channel densities for membrane groups
[membrane]
isActive = yes

[membrane.axon]
leak   = 0.5
Nav    = 120.
Kv    =  36.

#[membrane.soma]
#Na-Traub     = 100.
#Ca-Traub     = 1.0
#K(DR)-Traub  = 135.
#K(AHP)-Traub = 0.8
#K(C)-Traub   = 20.
#K(A)-Traub   = 0.5
#HH-K = 10.

#[membrane.apical]
#HH-Na = 0.
#HH-K = 0.

