/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/acme2_2d
/acme2_cyl
/acme2_cyl_par
/acme2_cyl_par_laplace
/acme2_cyl_par_mme
/aggregate_fluxes
/so_locations
/tags
/octave*
/*.log
/simulation_states/hackepeter
/out-*
/*.dat
/*.out
/matlab/*.mat
/matlab/*.pdf
/matlab/*.ps
/matlab/*.eps
/matlab/*.fig
/matlab/temp*
/core
/*/*~
